div.row.wall {
  ul.collection {
    li.collection-item {
      span.collection-email {
        display: inline-block;
        margin-left: 20px;
      }
    }
  }

  div.posts {
    ul li {
      div.card-action {
        span {
          color: #ffab43;
        }
      }
    }
  }
}
